<main>
  <section class="content-nav">
      <nav class="nav-bar">
        <h4>Color!</h4>
        <ul>
          <li routerLinkActive="active-link" routerLink="/basic-color"> 
            <span>Simple</span>
          </li>

          <li routerLinkActive="active-link" routerLink="/hex-color">
            <span>Hex</span>
          </li>

          <li routerLinkActive="active-link" routerLink="/color-picker">
            <span>Picker</span>
          </li>
          
        </ul>
      </nav>
  </section>
  
  <router-outlet></router-outlet>
</main>