main{
    height: 100vh;
    width: 100%;
}

.content-nav{
    height: 50px;
    display: flex;
    justify-content: center; 
}

.nav-bar {
  width: 80%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-bar h4 {
  font-size: 1.4rem;
}

ul {
  text-decoration: none;
  gap: 5rem;
  display: flex;
}

@media only screen and (max-width: 550px) {
    ul{
        gap: 1rem;
        font-size: 14px;
    }
    nav {
        width: 100%;
    }
}

li {
  list-style: none;
}

span {
  text-decoration: none;
  font-weight: 800;
  font-size: 1.4rem;
  color: #333;
}

li:hover {
  transition: 400ms;
  cursor: pointer;
  transform: translateY(-0.3rem);
}

.active-link {
    transform: translateY(-0.3rem);
    text-decoration-line: underline; 
  }