/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100%;
}


h2 {
  color: #fff;
  border-radius: 1rem;
  background-color: #111;
  font-size: 2.5rem;
  margin: 2.5rem;
  padding: 1rem;
}

button {
  background-color: #ddd;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 800;
  border: none;
  transition: 200ms;
  box-shadow: none;
}

button:hover {
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 5px #333;
  transition: 200ms;
}
